<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Hunt the hike</title>
    <style>
            .fill {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
    }
    .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
    }
    </style>
</head>
<body>
{% extends "base.html" %}
{% load bootstrap %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="content">
<div class="modal-body row">
  <div class="col-md-6">
    <div class="fill">
    <img src={{hike.header_image.url}} height="100%">
</div>
  </div>
  <div class="col-md-6">
    <h1>{{ object.name }}</h1>

<table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Region</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Difficulty</th>
                  <th scope="col">Peak</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ object.region }}</td>
                  <td>{{ object.length }} kms</td>
                  <td>{{ object.difficulty }}</td>
                  <td>{{ object.peak }} MSL</td>
                </tr>
              </tbody>
            </table>
            <p>{{ object.description }}</p>
</div>

</div>



{% endblock %}
</body>
</html>